header {
  height: 8vh;
  background: rgba(0, 0, 0, 1);
  background: -moz-linear-gradient(
    left,
    rgba(0, 0, 0, 1) 0%,
    rgba(47, 50, 51, 1) 14%,
    rgba(84, 88, 89, 1) 24%,
    rgba(156, 160, 161, 1) 35%,
    rgba(191, 197, 199, 1) 48%,
    rgba(156, 160, 161, 1) 63%,
    rgba(84, 88, 89, 1) 76%,
    rgba(47, 50, 51, 1) 87%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(0, 0, 0, 1)),
    color-stop(14%, rgba(47, 50, 51, 1)),
    color-stop(24%, rgba(84, 88, 89, 1)),
    color-stop(35%, rgba(156, 160, 161, 1)),
    color-stop(48%, rgba(191, 197, 199, 1)),
    color-stop(63%, rgba(156, 160, 161, 1)),
    color-stop(76%, rgba(84, 88, 89, 1)),
    color-stop(87%, rgba(47, 50, 51, 1)),
    color-stop(100%, rgba(0, 0, 0, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 1) 0%,
    rgba(47, 50, 51, 1) 14%,
    rgba(84, 88, 89, 1) 24%,
    rgba(156, 160, 161, 1) 35%,
    rgba(191, 197, 199, 1) 48%,
    rgba(156, 160, 161, 1) 63%,
    rgba(84, 88, 89, 1) 76%,
    rgba(47, 50, 51, 1) 87%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(0, 0, 0, 1) 0%,
    rgba(47, 50, 51, 1) 14%,
    rgba(84, 88, 89, 1) 24%,
    rgba(156, 160, 161, 1) 35%,
    rgba(191, 197, 199, 1) 48%,
    rgba(156, 160, 161, 1) 63%,
    rgba(84, 88, 89, 1) 76%,
    rgba(47, 50, 51, 1) 87%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(0, 0, 0, 1) 0%,
    rgba(47, 50, 51, 1) 14%,
    rgba(84, 88, 89, 1) 24%,
    rgba(156, 160, 161, 1) 35%,
    rgba(191, 197, 199, 1) 48%,
    rgba(156, 160, 161, 1) 63%,
    rgba(84, 88, 89, 1) 76%,
    rgba(47, 50, 51, 1) 87%,
    rgba(0, 0, 0, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,
    rgba(47, 50, 51, 1) 14%,
    rgba(84, 88, 89, 1) 24%,
    rgba(156, 160, 161, 1) 35%,
    rgba(191, 197, 199, 1) 48%,
    rgba(156, 160, 161, 1) 63%,
    rgba(84, 88, 89, 1) 76%,
    rgba(47, 50, 51, 1) 87%,
    rgba(0, 0, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}

body {
  background: rgba(138, 125, 124, 1);
  background: -moz-linear-gradient(
    45deg,
    rgba(138, 125, 124, 1) 0%,
    rgba(138, 115, 138, 1) 27%,
    rgba(173, 161, 161, 1) 27%,
    rgba(184, 177, 175, 1) 63%,
    rgba(222, 218, 218, 1) 63%,
    rgba(245, 242, 242, 1) 100%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, rgba(138, 125, 124, 1)),
    color-stop(27%, rgba(138, 115, 138, 1)),
    color-stop(27%, rgba(173, 161, 161, 1)),
    color-stop(63%, rgba(184, 177, 175, 1)),
    color-stop(63%, rgba(222, 218, 218, 1)),
    color-stop(100%, rgba(245, 242, 242, 1))
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(138, 125, 124, 1) 0%,
    rgba(138, 115, 138, 1) 27%,
    rgba(173, 161, 161, 1) 27%,
    rgba(184, 177, 175, 1) 63%,
    rgba(222, 218, 218, 1) 63%,
    rgba(245, 242, 242, 1) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgba(138, 125, 124, 1) 0%,
    rgba(138, 115, 138, 1) 27%,
    rgba(173, 161, 161, 1) 27%,
    rgba(184, 177, 175, 1) 63%,
    rgba(222, 218, 218, 1) 63%,
    rgba(245, 242, 242, 1) 100%
  );
  background: -ms-linear-gradient(
    45deg,
    rgba(138, 125, 124, 1) 0%,
    rgba(138, 115, 138, 1) 27%,
    rgba(173, 161, 161, 1) 27%,
    rgba(184, 177, 175, 1) 63%,
    rgba(222, 218, 218, 1) 63%,
    rgba(245, 242, 242, 1) 100%
  );
  background: linear-gradient(
    45deg,
    #c4bfbf 0%,
    #c4bfbf 33%,
    #e1dad8 33%,
    #e1dad8 66%,
    #f9f6f6 66%,
    #f9f6f6 100%
  );
  /* background: linear-gradient(
    45deg,
    #c4bfbf 33%,
    #c4bfbf 33%,
    #e1dad8 42%,
    #e1dad8 67%,
    #f9f6f6 85%,
    #f9f6f6 100%
  ); */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a7d7c', endColorstr='#f5f2f2', GradientType=1 );
}
.container {
  margin: 0px auto !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  width: 100% !important;
}
.mainCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.6s;
  /* width: 40%; */
  /* border: 5px solid #f7f7f7; */
  border-radius: 5px;
  /* width: 85%; */
}

.mainCard:hover {
  /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); */
  -webkit-box-shadow: 0px 5px 25px 2px rgba(74, 74, 74, 1);
  -moz-box-shadow: 0px 5px 25px 2px rgba(74, 74, 74, 1);
  box-shadow: 0px 5px 25px 2px rgba(74, 74, 74, 1);
  cursor: pointer;
}

.mainCard img {
  min-height: 120px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.6s;
  /* width: 40%; */
  border: 5px solid #f7f7f7;
  border-radius: 5px;
  width: 85%;
}

.card:hover {
  /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); */
  -webkit-box-shadow: 0px 5px 25px 2px rgba(74, 74, 74, 1);
  -moz-box-shadow: 0px 5px 25px 2px rgba(74, 74, 74, 1);
  box-shadow: 0px 5px 25px 2px rgba(74, 74, 74, 1);
  cursor: pointer;
}

.contentImage {
  border-radius: 5px 5px 0 0;
  min-height: 200px;
}

button {
  border-radius: 30px;
  background-color: rgb(56, 60, 160);
  color: white;
  transition: 0.6s;
  float: right;
  /* box-shadow: 2px 3px 0px blue; */

  -webkit-border-radius: 41.75675675675676px;
  -moz-border-radius: 41.75675675675676px;
  border-radius: 41.75675675675676px;
  background: rgb(112, 72, 186);
  background: -moz-linear-gradient(90deg, rgb(112, 72, 186) 30%);
  background: -webkit-linear-gradient(90deg, rgb(112, 72, 186) 30%);
  background: -o-linear-gradient(90deg, rgb(112, 72, 186) 30%);
  background: -ms-linear-gradient(90deg, rgb(112, 72, 186) 30%);
  background: linear-gradient(0deg, rgb(112, 72, 186) 30%);
}
button:hover {
  cursor: pointer;
  -webkit-box-shadow: 6px 6px 14px rgba(29, 153, 255, 0.5);
  -moz-box-shadow: 6px 6px 14px rgba(29, 153, 255, 0.5);
  box-shadow: 6px 6px 14px rgba(29, 153, 255, 0.5);
}

h6 b {
  letter-spacing: 1.5px;
  zoom: 80%;
  color: #615b5b;
}
.subheading {
  zoom: 80%;
  float: right;
  color: grey;
}

.container .row .col-lg-4 {
  margin-bottom: 2%;
}

.content {
  display: none;
}

.totop {
  position: fixed;
  bottom: 10px;
  right: 20px;
}
.totop a {
  display: none;
}
a,
a:visited {
  color: #33739e;
  text-decoration: none;
  display: block;
  margin: 10px 0;
}
a:hover {
  text-decoration: none;
}
#loadMore {
  padding: 10px;
  text-align: center;
  background-color: #33739e;
  color: #fff;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #fff;
  box-shadow: 0 1px 1px #ccc;
  transition: all 600ms ease-in-out;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
}
#loadMore:hover {
  background-color: #fff;
  color: #33739e;
}
